@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
/** ============== global style ================ */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-moz-selection {
  color: none;
  background: rgba(0, 0, 255, 0.1);
}

::selection {
  color: none;
  background: rgba(0, 0, 255, 0.1);
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

img {
  border-style: none;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

/* hide scroll bar if needed */
.hide-scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* remove 'X' from input box to clear the text*/
input::-ms-clear {
  display: none;
}

/* remove arrow from select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* text-indent: 1px; */
  /* text-overflow: ''; */
}

/** ============ start  custom style ============ */
body {
  font-size: 16px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

header,
footer {
  font-family: "Ubuntu", sans-serif;
}

/* -------------- header --------------- */
.header {
  background: url(../images/bg-pattern-intro-desktop.svg), -webkit-gradient(linear, left top, right top, from(hsl(13deg, 100%, 72%)), to(hsl(353deg, 100%, 62%)));
  background: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(90deg, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
  background-size: 100% cover;
  background-repeat: no-repeat;
  background-position: 25% 50%;
  border-bottom-left-radius: 100px;
}
.header__top {
  padding-top: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 135px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__links {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: hsl(0deg, 0%, 100%);
}
.header__nav {
  gap: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav_login {
  font-weight: 700;
}
.header__nav_signUp {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(356deg, 100%, 66%);
}
.header__nav_signUp:hover {
  background: hsl(355deg, 100%, 74%);
  color: hsl(0deg, 0%, 100%);
}
.header__btn {
  min-width: 140px;
  padding: 16px 0;
  border-radius: 50px;
  font-weight: 700;
}
.header__hamburger {
  cursor: pointer;
  display: none;
  overflow: hidden;
}
.header__hamburger_img {
  width: 30px;
  height: 20px;
  position: relative;
  top: 0;
}
.header__hamburger_img img {
  width: auto;
  height: 100%;
}
.header__text {
  text-align: center;
  color: hsl(0deg, 0%, 100%);
  font-family: "Overpass", sans-serif;
  margin-bottom: 50px;
}
.header__text h1 {
  font-size: 63px;
  margin-bottom: 32px;
}
.header__text p {
  font-size: 19px;
}
.header__bottom {
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 156px;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__bottom_free {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(356deg, 100%, 66%);
}
.header__bottom_free:hover {
  background-color: hsl(355deg, 100%, 74%);
  color: hsl(0deg, 0%, 100%);
}
.header__bottom_info {
  border: 1px solid hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 100%);
}
.header__bottom_info:hover {
  color: hsl(355deg, 100%, 74%);
  background-color: hsl(0deg, 0%, 100%);
}

.logo {
  max-width: 101px;
  min-width: 74px;
  margin-right: 64px;
}
.logo img {
  width: 100%;
}

.dropdown {
  position: relative;
}
.dropdown__link {
  cursor: pointer;
}
.dropdown__link:hover {
  text-decoration: underline;
}
.dropdown__link img {
  pointer-events: none;
}
.dropdown__hiden-links {
  height: 0;
  left: -24px;
  position: absolute;
  overflow: hidden;
  top: 26px;
}
.dropdown__content {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 8px;
  color: hsl(208deg, 49%, 24%);
  padding: 35px 24px;
  width: 170px;
  max-width: 170px;
}
.dropdown__content_item {
  cursor: pointer;
}
.dropdown__content_item:not(:last-child) {
  margin-bottom: 16px;
}
.dropdown__content_item:hover {
  -webkit-text-decoration: double;
          text-decoration: double;
  font-weight: 600;
}

/* --------- main -----------*/
main {
  font-family: "Overpass", sans-serif;
}
main h3 {
  letter-spacing: -0.03em;
}

.main__top {
  padding-top: 160px;
  padding-bottom: 260px;
  background: url(../images/illustration-editor-desktop.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 120% center;
}
.main__top_header {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 110px;
}

.section__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 540px;
          flex: 0 1 540px;
}
.section__content h3 {
  font-size: 27px;
  margin-bottom: 40px;
}
.section__content p {
  line-height: 175%;
}
.section__content section:first-child {
  margin-bottom: 50px;
}

.main__middle .section,
.main__bottom .section {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.main__middle h3,
.main__bottom h3 {
  font-size: 40px;
}

.main__middle {
  padding: 112px 0;
  color: hsl(0deg, 0%, 100%);
  background: url(../images/bg-pattern-circles.svg), -webkit-gradient(linear, left top, right top, from(hsl(237deg, 17%, 21%)), to(hsl(237deg, 23%, 32%)));
  background: url(../images/bg-pattern-circles.svg), linear-gradient(90deg, hsl(237deg, 17%, 21%), hsl(237deg, 23%, 32%));
  background-repeat: no-repeat;
  background-size: 70%, 100%;
  background-position: -50% 80%, 100%;
  position: relative;
  border-radius: 0 100px 0 100px;
}
.main__middle .section__content {
  z-index: 10;
}
.main__middle .illustration {
  width: 40%;
  position: absolute;
  top: -10%;
  left: 10%;
  z-index: 0;
}

.main__bottom {
  padding: 309px 0;
  background: url(../images/illustration-laptop-desktop.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 50%;
  color: inherit;
}
.main__bottom .section h3 {
  font-size: 27px;
  color: hsl(208deg, 49%, 24%);
}
.main__bottom .section p {
  color: hsl(207deg, 13%, 34%);
}

/* ---------- footer ---------*/
footer {
  background: hsl(240deg, 10%, 16%);
  font-family: "Ubuntu", sans-serif;
  color: hsl(240deg, 2%, 79%);
  border-radius: 0 100px 0 0;
}
footer .footer__inner {
  padding: 67px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 190px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .footer__logo {
  margin-right: 0;
}
footer .footer__links_heading {
  color: hsl(0deg, 0%, 100%);
  margin-bottom: 40px;
}
footer .footer__links ul li {
  cursor: pointer;
}
footer .footer__links ul li:hover {
  text-decoration: underline;
}
footer .footer__links ul li:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .header__top {
    text-align: center;
  }
  .header__links {
    position: absolute;
    top: 125px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 80%;
    background-color: hsl(0deg, 0%, 100%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: hsl(207deg, 13%, 34%);
    border-radius: 8px;
    padding: 0 24px;
    height: 0;
    overflow: hidden;
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 26px 0;
  }
  .header__nav:first-child {
    border-bottom: 1px solid hsla(240deg, 3%, 79%, 0.5);
  }
  .header__nav_signUp {
    color: hsl(0deg, 0%, 100%);
    background: -webkit-gradient(linear, left top, right top, from(hsl(13deg, 100%, 72%)), to(hsl(353deg, 100%, 62%)));
    background: linear-gradient(90deg, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
  }
  .header__hamburger {
    display: block;
  }
  .header h1 {
    font-size: 32px;
  }
  .header p {
    font-size: 14px;
  }
  .header__bottom {
    font-size: 14px;
  }
  .dropdown {
    width: 100%;
    font-size: 18px;
  }
  .dropdown__link {
    color: hsl(208deg, 49%, 24%);
    font-weight: 700;
  }
  .dropdown__link img {
    content: url("../images/icon-arrow-dark.svg");
  }
  .dropdown__link:hover {
    text-decoration: none;
  }
  .dropdown__hiden-links {
    margin-top: 1rem;
    position: relative;
    left: 0;
    top: 0;
    background: hsla(240deg, 3%, 79%, 0.5);
    border-radius: 8px;
  }
  .dropdown__content {
    width: auto;
    margin: 0 auto;
    padding: 1rem 0;
    color: hsl(207deg, 13%, 34%);
    font-weight: 500;
    background: none;
  }
  .main {
    text-align: center;
  }
  .main__top {
    background-position: 50% 15%;
    background-size: 80%;
    padding-top: 90px;
  }
  .main__top_header {
    font-size: 24px;
    margin-bottom: 100%;
  }
  .main .section__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .main .section__content h3 {
    font-size: 24px;
  }
  .main__middle {
    padding: 200px 0 100px;
    background-size: 160%, 100%;
    background-position: 50% -200px, 100%;
  }
  .main__middle .illustration {
    width: 100%;
    left: 0;
    top: -120px;
  }
  .main__middle .illustration img {
    width: 50%;
  }
  .main__middle .section__content section:first-child {
    margin-bottom: 0;
  }
  .main__middle .section__content h3 {
    font-size: 36px;
  }
  .main__bottom {
    padding: 100% 0 20%;
    background-position: 50% 5%;
    background-size: 100%;
  }
  footer .footer__inner {
    gap: 4rem;
    text-align: center;
  }
  footer .footer__links {
    width: 100%;
  }
}