// fonts 

$Ovetpass:'Overpass',
sans-serif; // 300, 600
$Ubuntu:'Ubuntu',
sans-serif; // 400, 500, 700

// colors

$red:hsl(356, 100%, 66%);
// $redHover:hsla(356, 100%, 66%, 0.8);
$redHover:hsl(355, 100%, 74%);
$heading: hsl(208, 49%, 24%);
$whiteText: hsl(0, 0%, 100%);
$footerBG: hsl(240, 10%, 16%);
$darkText: hsl(207, 13%, 34%);
$footerText: hsl(240, 2%, 79%);

$gradientBGred:linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
$gradientBGblue:linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));