// fonts 

$Ovetpass:'Overpass',
sans-serif;
$Ubuntu:'Ubuntu',
sans-serif;

// colors

$red:hsl(356, 100%, 66%);
$redHover:hsl(355, 100%, 74%);
$heading: hsl(208, 49%, 24%);
$whiteText: hsl(0, 0%, 100%);
$footerBG: hsl(240, 10%, 16%);
$footerText: hsl(207, 13%, 34%);
$footerHeading: hsl(240, 2%, 79%);

$gradientBGred:linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
$gradientBGblue:linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));