@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');


/** ============== global style ================ */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// remove blue highlighting 
::selection {
    color: none;
    background: rgba(0, 0, 255, 0.1);
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

img {
    border-style: none;
    object-fit: cover;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

/* hide scroll bar if needed */

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* remove 'X' from input box to clear the text*/

input::-ms-clear {
    display: none;
}


/* remove arrow from select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    /* text-indent: 1px; */
    /* text-overflow: ''; */
}

/** ============ start  custom style ============ */

body {
    font-size: 16px;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;

}

header,
footer {
    font-family: $Ubuntu;
}

/* -------------- header --------------- */

.header {
    background: url(../images/bg-pattern-intro-desktop.svg), $gradientBGred;
    background-size: 100% cover;
    background-repeat: no-repeat;
    background-position: 25% 50%;
    border-bottom-left-radius: 100px;

    &__top {
        padding-top: 64px;
        align-items: center;
        margin-bottom: 135px;
        // align-self: center;
        justify-content: space-between;
    }

    &__links {
        width: 100%;
        justify-content: space-between;
        color: $whiteText;
    }

    &__nav {
        gap: 26px;
        align-items: center;

        &_login {
            font-weight: 700;
            color: $whiteText;
        }

        &_signUp {
            background-color: $whiteText;
            color: $red;

            &:hover {
                background: $redHover;
                color: $whiteText;
            }
        }
    }

    &__btn {
        min-width: 140px;
        padding: 16px 0;
        border-radius: 50px;
        font-weight: 700;
    }

    &__hamburger {
        cursor: pointer;
        display: none;
        overflow: hidden;

        &_img {
            width: 30px;
            height: 20px;
            position: relative;
            top: 0;
            // top: -23px; -- to hide x humbuger

            img {
                width: auto;
                height: 100%;
            }
        }
    }

    &__text {
        text-align: center;
        color: $whiteText;
        font-family: $Ovetpass;
        margin-bottom: 50px;

        h1 {
            font-size: 63px;
            margin-bottom: 32px;
        }

        p {
            font-size: 19px;

        }
    }

    &__bottom {
        font-weight: 700;
        justify-content: center;
        padding-bottom: 156px;
        gap: 1rem;
        flex-wrap: wrap;

        &_free {
            background-color: $whiteText;
            color: $red;

            &:hover {
                background-color: $redHover;
                color: $whiteText
            }
        }

        &_info {
            border: 1px solid $whiteText;
            color: $whiteText;

            &:hover {
                color: $redHover;
                background-color: $whiteText;
            }
        }
    }
}

.logo {
    max-width: 101px;
    min-width: 74px;
    margin-right: 64px;

    img {
        width: 100%;
    }
}

.dropdown {
    position: relative;


    &__link {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

        img {
            pointer-events: none;
        }
    }

    &__hiden-links {
        height: 0;
        left: -24px;
        position: absolute;
        overflow: hidden;
        top: 26px;
    }

    &__content {
        background-color: $whiteText;
        border-radius: 8px;
        color: $heading;
        padding: 35px 24px;
        width: 170px;
        max-width: 170px;


        &_item {
            cursor: pointer;

            &:not(:last-child) {
                margin-bottom: 16px;
            }

            &:hover {
                text-decoration: double;
                font-weight: 600;
            }
        }
    }


}

/* --------- main -----------*/

main {
    font-family: $Ovetpass;

    h3 {
        letter-spacing: -0.03em;
    }
}

.main__top {
    padding-top: 160px;
    padding-bottom: 260px;
    background: url(../images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 120% center;

    &_header {
        text-align: center;
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 110px;
    }

}

.section {

    &__content {
        flex: 0 1 540px;

        h3 {
            font-size: 27px;
            margin-bottom: 40px;
        }

        p {
            line-height: 175%;
        }

        section:first-child {
            margin-bottom: 50px;
        }

    }
}

.main__middle,
.main__bottom {
    .section {
        flex-direction: row-reverse;
    }

    h3 {
        font-size: 40px;
    }
}

.main__middle {
    padding: 112px 0;
    color: $whiteText;
    background: url(../images/bg-pattern-circles.svg),
        $gradientBGblue;
    background-repeat: no-repeat;
    background-size: 70%, 100%;
    background-position: -50% 80%, 100%;
    position: relative;
    border-radius: 0 100px 0 100px;

    .section__content {
        z-index: 10;
    }

    .illustration {
        width: 40%;
        position: absolute;
        top: -10%;
        left: 10%;
        z-index: 0;
    }

}

.main__bottom {
    padding: 309px 0;
    background: url(../images/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 50%;
    color: inherit;

    .section {
        h3 {
            font-size: 27px;
            color: $heading;
        }

        p {
            color: $darkText;
        }
    }
}

/* ---------- footer ---------*/
footer {
    background: $footerBG;
    font-family: $Ubuntu;
    color: $footerText;
    border-radius: 0 100px 0 0;

    .footer {
        &__inner {
            padding: 67px 0 80px;
            display: flex;
            justify-content: center;
            gap: 190px;
            flex-wrap: wrap;
        }

        &__logo {
            margin-right: 0;
        }

        &__links {

            &_heading {
                color: $whiteText;
                margin-bottom: 40px;

            }

            ul li {
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

            }
        }
    }
}

@media screen and (max-width:1440px) {}

@media screen and (max-width:1024px) {}

@media screen and (max-width:768px) {

    .header {

        &__top {
            text-align: center;
        }

        &__links {
            position: absolute;
            top: 125px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 80%;
            background-color: $whiteText;
            flex-direction: column;
            color: $darkText;
            border-radius: 8px;
            padding: 0 24px;
            height: 0;
            overflow: hidden;
        }

        &__nav {
            flex-direction: column;
            padding: 26px 0;

            &:first-child {
                border-bottom: 1px solid hsla(240, 3%, 79%, 0.5);
            }

            &_login {
                color: $darkText;
            }

            &_signUp {
                color: $whiteText;
                background: $gradientBGred;

            }
        }

        &__hamburger {
            display: block;
        }

        h1 {
            font-size: 32px;
        }

        p {
            font-size: 14px;
        }

        &__bottom {
            font-size: 14px;
        }
    }

    .dropdown {
        width: 100%;
        font-size: 18px;

        &__link {
            color: $heading;
            font-weight: 700;

            img {
                content: url("../images/icon-arrow-dark.svg");
            }

            &:hover {
                text-decoration: none;
            }
        }

        &__hiden-links {
            margin-top: 1rem;
            position: relative;
            // height: auto; // remove it
            left: 0;
            top: 0;
            background: hsla(240, 3%, 79%, 0.5);
            border-radius: 8px;
        }

        &__content {
            width: auto;
            margin: 0 auto;
            padding: 1rem 0;
            color: $darkText;
            font-weight: 500;
            background: none;
        }
    }

    .main {
        text-align: center;

        &__top {
            background-position: 50% 15%;
            background-size: 80%;
            padding-top: 90px;

            &_header {
                font-size: 24px;
                margin-bottom: 100%;
            }
        }

        .section__content {
            flex: 0 1 100%;

            h3 {
                font-size: 24px;
            }
        }

        &__middle {
            padding: 200px 0 100px;
            background-size: 160%, 100%;
            background-position: 50% -200px, 100%;



            .illustration {
                width: 100%;
                left: 0;
                top: -120px;

                img {
                    width: 50%;
                }
            }

            .section__content {

                section:first-child {
                    margin-bottom: 0;
                }

                h3 {
                    font-size: 36px;
                }
            }
        }

        &__bottom {
            padding: 100% 0 20%;
            background-position: 50% 5%;
            background-size: 100%;
        }
    }

    footer {

        .footer {
            &__inner {
                gap: 4rem;
                text-align: center;
            }

            &__links {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:425px) {}

@media screen and (max-width:375px) {}

@media screen and (max-width:320px) {}