@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');


/** ============== global style ================ */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// remove blue highlighting 
::selection {
    color: none;
    background: rgba(0, 0, 255, 0.1);
}

a,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
}

img {
    border-style: none;
    object-fit: cover;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

/* hide scroll bar if needed */

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* remove 'X' from input box to clear the text*/

input::-ms-clear {
    display: none;
}


/* remove arrow from select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    /* text-indent: 1px; */
    /* text-overflow: ''; */
}

/** ============ start  custom style ============ */

body {
    font-size: 16px;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2%;

}

header,
footer {
    font-family: $Ubuntu;
}

.header {
    background: url(../images/bg-pattern-intro-desktop.svg), $gradientBGred;
    background-size: 100% cover;
    background-repeat: no-repeat;
    background-position: 25% 50%;

    &__top {
        padding-top: 64px;
        align-items: center;
        margin-bottom: 135px;
        // align-self: center;
    }

    &__links {
        width: 100%;
        justify-content: space-between;
        color: $whiteText;
    }

    &__nav {
        gap: 26px;
        align-items: center;

        &_login {
            font-weight: 700;
        }

        &_signUp {
            background-color: $whiteText;
            color: $red;

            &:hover {
                background: $redHover;
                color: $whiteText;
            }
        }
    }

    &__btn {
        min-width: 140px;
        padding: 16px 0;
        border-radius: 50px;
        font-weight: 700;
    }

    &__text {
        text-align: center;
        color: $whiteText;
        font-family: $Ovetpass;
        margin-bottom: 50px;

        h1 {
            font-size: 63px;
            margin-bottom: 32px;
        }

        p {
            font-size: 19px;

        }
    }

    &__bottom {
        font-weight: 700;
        justify-content: center;
        padding-bottom: 156px;
        gap: 1rem;

        &_free {
            background-color: $whiteText;
            color: $red;

            &:hover {
                background-color: $redHover;
                color: $whiteText
            }
        }

        &_info {
            border: 1px solid $whiteText;
            color: $whiteText;

            &:hover {
                color: $redHover;
                background-color: $whiteText;
            }
        }
    }
}

.logo {
    max-width: 101px;
    min-width: 74px;
    margin-right: 64px;

    img {
        width: 100%;
    }
}

.dropdown {
    position: relative;


    &__link {
        cursor: pointer;
        padding-left: 24px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__hiden-links {
        height: 0;
        position: absolute;
        overflow: hidden;
        top: 26px;
    }

    &__content {
        background-color: $whiteText;
        border-radius: 8px;
        color: $heading;
        padding: 35px 24px;
        width: 170px;
        max-width: 170px;


        &_item {
            cursor: pointer;

            &:not(:last-child) {
                margin-bottom: 16px;
            }

            &:hover {
                text-decoration: double;
                font-weight: 600;
            }
        }
    }


}

main {
    font-family: $Ovetpass;
}

footer {
    background: $footerBG;
    font-family: $Ubuntu;
    color: $footerText;

    .footer {
        &__inner {
            padding: 67px 0 80px;
            display: flex;
            justify-content: space-evenly;
        }

        &__links {

            &_heading {
                color: $whiteText;
                margin-bottom: 40px;

            }

            ul li {

                &:hover {
                    text-decoration: underline;
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

            }
        }
    }
}